.classpath
.project
nbactions.xml
.settings
target
test-output
.idea
*.iml
*.html
*.pdf
book.xml
book.aux
book.cb
book.cb2
book.glo
book.idx
book.log
book.out
book.tex
book.toc
book1.aux
book1.bbl
book2.aux
book2.bbl
btaux.aux
btbbl.aux
